* {
    font-family: 'Varela Round', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

    .carousel-item { 
            margin: 3%; 
            position: relative; 
        } 
  
        .first-txt { 
            position: absolute; 
            top: 17px; 
            left: 50px; 
        } 
  
        .second-txt { 
            position: absolute; 
            bottom: 20px; 
            left: 10px; 
        } 

        .img-container {
        text-align: center;
        display: block;
      }