* {
    font-family: 'Varela Round', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.row-margin {
    margin-bottom: 100px;
}