* {
  font-family: "Varela Round", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body,
html {
  height: 100%;
}

.container {
  margin-top: 5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  border-right: 1px solid #ee6e73;
  border-left: 1px solid #ee6e73;
  min-height: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.title p {
  font-style: italic;
}

.title span {
  font-style: normal;
}

#game-rating {
  border-radius: 15px;
  background: #a8a8a8;
  color: white;
  padding: 5px;
}

#game-meta {
  border-radius: 25px;
  padding: 5px;
}

.meta-good {
  background: red;
  color: white;
}

.meta-better {
  background: yellow;
  color: black;
}

.meta-best {
  background: green;
  color: white;
}

.title-container img {
  margin-right: 2vw;
}

img {
  max-width: 25%;
  height: auto;
}

p {
  font-size: 16px;
}
